/*.root {
    -fx-background-color: #d3d3d3;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border: solid black 1px;
}

.text-field {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border: solid black 1px;
}*/

